$primary: #28ace2;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: #212121;
$theme-site-navbar-primary-bg-color: #000;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 854px,
  hide-secondary: 1078px,
  small-logo: 375px,
  small-text-primary: 0,
  small-text-secondary: 0
);

// Site Section Colors
$website-section-colors: ();

$theme-site-navbar-primary-link-active-color: $primary;

@import "../../node_modules/@ac-business-media/refresh-theme/scss/theme";

.node-list {
  &__header {
    &::before {
      background: $primary;
    }
  }
}
