$primary: #1a93f9;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: #212121;
$theme-site-navbar-primary-bg-color: #000;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 878px,
  hide-secondary: 1065px,
  small-logo: 375px,
  small-text-primary: 0,
  small-text-secondary: 0
);

// Site Section Colors
$website-section-colors: (
  warehousing: #8e5f76,
  transportation: #d9802e,
  technology: #bf5041,
  safety: #b7b538,
  sustainability: #f5bc26,
  cold-chain: #00708e,
  "3pl-4pl": #667984,
);

@import "../../node_modules/@ac-business-media/refresh-theme/scss/theme";
