
// Theme start!
@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,700&display=swap");

$black:           #000 !default;
$body-color:      $black !default;
$block-spacer:    1.25rem !default;

// Marko Web Settings
$marko-web-document-container-max-width: 1010px !default;
$marko-web-document-container-gutter: 10px !default;
$marko-web-page-padding: 0 !default;
$marko-web-page-wrapper-padding: $marko-web-document-container-gutter !default;
$marko-web-node-list-padding: 15px !default;

// Fonts (reset all to Arimo, including serif font)
$theme-font-family-sans-serif: "Arimo", sans-serif !default;
$theme-font-family-serif: "Arimo", sans-serif !default;
$theme-font-family-page-title: $theme-font-family-sans-serif !default;

// General
$body-bg: #fff !default;
$breadcrumb-divider: "|" !default;
$font-weight-bold: 700 !default;
$grid-gutter-width: 20px !default;

// Settings
$enable-shadows: false !default;
$enable-rounded: false !default;

// Navbar
$theme-site-navbar-primary-font-size: 15px !default;
$theme-site-navbar-primary-font-size-sm: 15px !default;
$theme-site-navbar-primary-line-height: 1.6 !default;
$theme-site-navbar-primary-line-height-sm: 1.6 !default;

$theme-site-navbar-primary-link-hover-decoration: none !default;
$theme-site-navbar-primary-link-active-decoration: none !default;

$theme-site-navbar-secondary-font-size: 13px !default;
$theme-site-navbar-secondary-font-size-sm: 13px !default;
$theme-site-navbar-secondary-line-height: 1.6 !default;
$theme-site-navbar-secondary-line-height-sm: 1.6 !default;
$theme-site-navbar-secondary-padding-y: 5px !default;

$theme-site-navbar-secondary-link-hover-decoration: none !default;
$theme-site-navbar-secondary-link-active-decoration: none !default;

// General Heading Defaults
$theme-heading-font-weight: $font-weight-bold !default;

$theme-heading-large-font-size:       22px !default;
$theme-heading-large-font-size-sm:    22px !default;
$theme-heading-large-line-height:     1.3 !default;
$theme-heading-large-line-height-sm:  1.3 !default;

$theme-heading-h4-font-size:          20px !default;
$theme-heading-h4-font-size-sm:       20px !default;
$theme-heading-h4-line-height:        1.3 !default;
$theme-heading-h4-line-height-sm:     1.3 !default;

$theme-heading-h5-font-size:          18px !default;
$theme-heading-h5-font-size-sm:       18px !default;
$theme-heading-h5-line-height:        1.3 !default;
$theme-heading-h5-line-height-sm:     1.3 !default;

$theme-heading-h6-font-size:          16px !default;
$theme-heading-h6-font-size-sm:       16px !default;
$theme-heading-h6-line-height:        1.3 !default;
$theme-heading-h6-line-height-sm:     1.3 !default;

// Content Headings
$theme-content-heading-large-margin-bottom:     1rem !default;
$theme-content-heading-large-margin-bottom-sm:  1rem !default;

$theme-content-heading-h4-margin-bottom:        1rem !default;
$theme-content-heading-h4-margin-bottom-sm:     1rem !default;

$theme-content-heading-h5-margin-bottom:        1rem !default;
$theme-content-heading-h5-margin-bottom-sm:     1rem !default;

$theme-content-heading-h6-margin-bottom:        1rem !default;
$theme-content-heading-h6-margin-bottom-sm:     1rem !default;

// Content Paragraphs
$theme-content-paragraph-margin-bottom: 1.25rem !default;
$theme-content-paragraph-margin-bottom-sm: 1.25rem !default;


// Page Wrapper
$theme-page-title-font-weight: $font-weight-bold !default;
$theme-page-title-font-size: 24px !default;
$theme-page-title-font-size-sm: 24px !default;
$theme-page-title-line-height: 1.2 !default;
$theme-page-title-line-height-sm: 1.2 !default;

$theme-page-deck-color: #000 !default;
$theme-page-deck-font-size: 18px !default;
$theme-page-deck-font-size-sm: 18px !default;
$theme-page-deck-line-height: 1.5 !default;
$theme-page-deck-line-height-sm: 1.5 !default;

$marko-web-page-image-margin: 1.25rem !default;

// Media Caption/Credit
$theme-media-footer-padding-y: 5px !default;
$theme-media-footer-line-height: 1.2 !default;

$theme-media-caption-color: #9e9e9e !default;
$theme-media-caption-font-size: 11px !default;
$theme-media-credit-color: #9e9e9e !default;
$theme-media-credit-font-size: 11px !default;

// Breadcrumbs
$theme-breadcrumbs-font-size: 14px !default;
$theme-breadcrumbs-font-weight: $font-weight-bold !default;

// Content Published Date
$theme-content-published-date-font-size: 14px !default;
$theme-content-published-date-line-height: 1.2 !default;

// Content Attribution
$theme-content-attribution-font-size: 14px !default;
$theme-content-attribution-prefix-spacer-content: none !default;
$theme-content-attribution-prefix-font-weight: 400 !default;
$theme-content-attribution-line-height: 1.2 !default;

// Content Body
$theme-page-body-font-size-sm: 16px !default;
$theme-page-body-font-size: 16px !default;
$theme-page-body-font-weight: 400 !default;
$theme-page-body-line-height-sm: 1.8 !default;
$theme-page-body-line-height: 1.8 !default;

// Card / Node List Header
$theme-card-header-text-transform: none !default;
$theme-card-header-color: $black !default;
$theme-card-header-font-size: 24px !default;
$theme-card-header-font-weight: $font-weight-bold !default;
$theme-card-header-letter-spacing: normal !default;
$theme-card-header-background-color: transparent !default;
$theme-card-header-border: none !default;

// Item / Node
$theme-item-title-font-size: 18px !default;
$theme-item-title-font-size-sm: 18px !default;
$theme-item-title-font-weight: $font-weight-bold !default;
$theme-item-title-line-height: 1.4 !default;
$theme-item-title-line-height-sm: 1.4 !default;

$theme-item-title-large-font-size: 22px;
$theme-item-title-large-font-size-sm: 22px;
$theme-item-title-large-line-height: 1.4 !default;
$theme-item-title-large-line-height-sm: 1.4 !default;

$theme-item-description-font-size: 14px !default;
$theme-item-description-font-size-sm: 14px !default;
$theme-item-description-line-height: 1.5 !default;
$theme-item-description-line-height-sm: 1.5 !default;
$theme-item-description-max-lines: 3 !default;

$theme-item-header-font-size: 12px !default;

$theme-item-footer-font-size: 12px !default;

@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-theme-default/scss/theme";
@import "../../node_modules/@base-cms/marko-web-social-sharing/scss/buttons";
// @todo this should be remove once contact us is in core
@import "../../node_modules/@ac-business-media/package-common/scss/contact-us-form";
@import "../../node_modules/@ac-business-media/package-common/scss/directory";
@import "../../node_modules/@ac-business-media/package-common/scss/spec-guide";
@import "../../node_modules/@ac-business-media/package-inquiry/scss/index";

$theme-related-content-bg-color: #f8f9fa;
$theme-related-content-border-color: #dee2e6;

.document-container {
  flex-grow: 0;
}

.anchor {
  // offset link anchors to account for fixed header
  position: relative;
  top: -100px;
  display: block;
  visibility: hidden;
}

.social-sharing {
  margin-top: map-get($spacers, block);
  margin-bottom: map-get($spacers, block);
}

.ad-container {
  text-align: left;

  &--center {
    text-align: center;
  }

  &--sticky-top {
    position: sticky;
    top: calc(95px + #{$block-spacer});
  }

  &--max-width-300 {
    max-width: 300px;
  }

  &--max-width-970 {
    max-width: 970px;
  }

  &--in-content {
    margin-right: auto;
    margin-bottom: 1.25rem;
    margin-left: auto;
  }

  &--margin-auto-x {
    margin-right: auto;
    margin-left: auto;
  }

  &--margin-auto-x-md {
    @include media-breakpoint-down(md) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__wrapper {
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;

    &::before {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 5px;
      left: auto;
      font-size: 8px;
      line-height: 1;
      color: #a3a3a3;
      text-align: right;
      text-transform: uppercase;
      content: "Advertisement";
    }
  }
}

.site-navbar {
  $self: &;
  &__items {
    text-transform: none;
  }

  &--primary,
  &--secondary {
    #{ $self } {
      &__link {
        &--active {
          font-weight: 700;
        }
      }
    }
  }

  &--primary {
    @each $section, $color in $website-section-colors {
      #{ $self } {
        &__link--active[href*="#{$section}"] {
          color: $color;
        }
      }
    }
  }
}

.page-wrapper {
  padding-top: $block-spacer;
  padding-bottom: $block-spacer;
  &__deck,
  &__title {
    $max: 920px;
    // ensure readable line length is not too long.
    padding-right: ($marko-web-document-container-max-width - ($marko-web-document-container-gutter * 2) - ($marko-web-page-wrapper-padding * 2)) - $max;
    margin-bottom: 1.25rem;

    @media (max-width: 920px) {
      padding-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__section {
    padding-bottom: $grid-gutter-width;
    margin-bottom: $grid-gutter-width + 5px;
    border-bottom: 2px solid #ebebeb;

    &--card-deck {
      padding-bottom: 0;
    }

    &--text-center {
      text-align: center;
    }
  }
}

.page-dates {
  display: flex;

  // @todo this should be moved to the core theme
  &__content-starts,
  &__content-start-date,
  &__content-ends,
  &__content-end-date {
    font-family: $theme-content-published-date-font-family;
    font-size: $theme-content-published-date-font-size;
    font-weight: $theme-content-published-date-font-weight;
    line-height: $theme-content-published-date-line-height;
    color: $theme-content-published-date-color;
    text-transform: $theme-content-published-date-text-transform;
  }
}

.page-attribution {
  display: flex;

  &__content-authors {
    &::before {
      content: "By";
    }
  }
  a {
    color: $primary;
  }

  div:last-child {
    margin-bottom: 0;
  }

  &:empty {
    display: none;
  }
}

.page-attribution-wrapper {
  display: flex;
}

.page-dates + .page-attribution {
  padding-left: .5rem;
  margin-left: .5rem;
  border-left: 1px solid #000;
}

.page-image {
  $self: &;

  &__image-caption,
  &__image-credit {
    text-align: right;
  }

  &__image-credit {
    &::before {
      margin-right: .25rem;
      content: "Photo Credit:";
    }
  }

  &--primary-image-inline {
    margin-top: 0;
  }

  // @todo keep in skin
  > :last-child:not(#{ $self }__wrapper) {
    border-bottom: none;
  }
}

.page-contents {
  &__content-body {
    margin-bottom: $block-spacer;
    ul {
      padding-left: $grid-gutter-width;
    }

    > p:first-child {
      @include theme-line-height-crop($theme-page-body-line-height);
      @include media-breakpoint-down($theme-responsive-text-breakpoint) {
        @include theme-line-height-crop($theme-page-body-line-height-sm);
      }
    }
  }

  &__content-embed-code {
    margin-bottom: map-get($spacers, block);
  }
}

.page-rail {
  > :first-child {
    margin-top: 0;
  }
}

.node {
  $title-spacer: 18px;
  $title-spacer-sm: 14px;
  $image-border: 1px solid rgba(239, 239, 239, .9);
  $self: &;

  &__header-left {
    @include theme-line-height-crop($theme-item-header-line-height);
  }

  &__title {
    padding-bottom: $title-spacer;
    &--small {
      font-size: $title-spacer-sm;
    }
  }

  &__title + &__text--event-details {
    margin-top: -$title-spacer;
    margin-bottom: .5rem;
  }

  &__title--small + &__text--event-details {
    margin-top: -$title-spacer-sm;
  }

  &__text {
    &--event-details {
      font-size: 14px;
      color: $theme-item-footer-color;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--body {
      flex-grow: 1;
    }

    &--spec-guide-link-button + &--spec-guide-link-button {
      margin-top: .75rem;
    }
  }

  &__content-link-url {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  &__footer-left {
    max-width: 70%;
  }

  &__footer-left:not(:empty) + &__footer-right {
    margin-left: .25rem;
  }

  &__image-inner-wrapper--fluid-16by9 {
    #{ $self } {
      &__image {
        border: $image-border;
      }
    }
  }

  &__image {
    border: $image-border;
  }

  &__upcoming-archived {
    font-weight: $font-weight-bold;
    color: #444;
    text-transform: uppercase;
  }

  &__content-start-date {
    &::before {
      color: $black;
      content: "Date: ";
    }
  }

  &--related-content {
    background-color: $theme-related-content-bg-color;
  }

  &--image-left {
    @include media-breakpoint-down(xs) {
      #{ $self } {
        &__image-wrapper + #{ $self }__body {
          margin-top: $marko-web-node-spacer * 2;
          margin-left: 0;
        }
        &__body {
          &--overlay {
            margin-top: 0;
          }
        }
        &__contents {
          flex-direction: column;
          &--body {
            flex-direction: column;
          }
        }
      }
    }
  }
}

.node-list {
  $self: &;
  &__header {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    line-height: 1.3;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 4px;
      content: "";
      background: #000;
    }

    &--padding-y {
      padding-top: $block-spacer;
      padding-bottom: $block-spacer;
    }

    &--website-section-title {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 26px;
      font-weight: $font-weight-bold;
      line-height: 1.3;
    }

    @each $section, $color in $website-section-colors {
      &--#{$section} {
        &::before {
          background: $color;
        }
      }
    }
  }

  &__nodes {
    padding-top: $block-spacer;
    padding-bottom: $block-spacer;
  }

  &--padding-large {
    #{ $self } {
      &__node {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  &--infinite-scroll {
    #{ $self } {
      &__node:first-child {
        @include marko-web-node-list-border(border-top);
      }
    }
  }

  &--flush-y {
    #{ $self } {
      &__header:first-child {
        padding-top: $block-spacer;
      }

      &__node:first-child {
        @include media-breakpoint-down(md) {
          padding-top: $block-spacer;
          @include marko-web-node-list-border(border-top);
        }
      }
    }
  }

  &--rows {
    #{ $self } {
      &__header {
        padding: 0;
        margin-bottom: .75rem;
      }

      &__nodes {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 0;
        margin-right: -.25rem;
        margin-left: -.25rem;
      }

      &__node {
        width: calc(50% - .5rem);
        margin-right: .25rem;
        margin-bottom: .5rem;
        margin-left: .25rem;

        &:first-child {
          padding-top: $marko-web-node-list-padding;
        }

        &:last-child {
          padding-bottom: $marko-web-node-list-padding;
          @include marko-web-node-list-border($property: border-bottom);
        }
      }

      @include media-breakpoint-down(sm) {
        &__nodes {
          flex-direction: column;
        }
        &__node {
          width: 100%;
        }
      }
    }
  }

  &--related-content {
    #{ $self } {
      &__node {
        background-color: $theme-related-content-bg-color;
        border-color: $theme-related-content-border-color;
        &:last-child {
          @include marko-web-node-list-border($property: border-bottom, $color: $theme-related-content-border-color);
        }
      }
    }
  }
}

.hero-flow {
  &__hero {
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      margin-bottom: $block-spacer;

    }
  }
  &__list {
    margin-bottom: 0;
  }
}

.card-deck-flow {
  $self: &;
  &--3-cols {
    #{ $self } {
      &__node {
        @include media-breakpoint-up(md) {
          @include make-col(4);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(4);
        }
      }
    }
  }
}

.magazine-publication-card-block {
  &__header,
  &__body {
    padding-right: 0;
    padding-left: 0;
  }
  &__magazine-publication-description {
    margin-top: map-get($spacers, 2);
    margin-bottom: 0;
    font-size: 18px;
    font-weight: $font-weight-normal;
    color: $gray-700;
  }
}

.follow-us {
  &__icons {
    padding-bottom: 20px;
    @include marko-web-node-list-border(border-bottom);

    > a {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@mixin overline-header() {
  position: relative;
  padding-top: $block-spacer;
  margin-bottom: .75rem;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 4px;
    content: "";
    background: #000;
  }
}

.inquiry-form {
  padding: $block-spacer;
  margin-top: 0;
  margin-bottom: $block-spacer;
  background-color: #f8f9fa;
  border-top: 0;

  &__header {
    @include overline-header();
    font-size: 20px;
  }

  &__description {
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  &__content-name {
    font-weight: 600;
  }

  .btn-lg {
    font-size: 1rem;
    font-weight: 600;
  }
}

.media-center-section {
  &__header {
    margin-bottom: map-get($spacers, block);
    font-family: $theme-font-family-sans-serif;
    font-size: 20px;
    font-weight: $font-weight-bold;
    line-height: 1.2;
  }

  &__view-more {
    font-size: 14px;
    font-weight: $font-weight-bold;
    a {
      &::after {
        margin-left: .25rem;
        content: "\00BB";
      }
    }
  }
}
