import { getAsArray, getAsObject } from "@base-cms/object-path";

$ const nodes = getAsArray(input, "nodes");

<if(nodes.length)>
  <default-theme-column-list-flow nodes=nodes reverse=true>
    <@list|{ nodes: listNodes }|>
      <website-content-list-flow nodes=listNodes with-teaser=true />
    </@list>
  </default-theme-column-list-flow>
</if>
