import { getAsObject } from "@base-cms/object-path";

$ const blockName = "market-outlook-node";
$ const content = getAsObject(input, "node");

<marko-web-block name=blockName>
  <a class="anchor" name=`content-${content.id}` />
  <marko-web-content-name|{ value }| tag="h5" block-name=blockName obj=content>
    $!{value} [<a href="#nav">return to nav</a>]
  </marko-web-content-name>
  <marko-web-content-body block-name=blockName obj=content />
</marko-web-block>
