$tan-dark: #3e3b37;
$tan-normal: #706d69;
$tan-secondary: #e4e3da;
$tan-light: #dfded4;
$tan-lighter: #eaeae3;

$primary: $tan-dark;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: $tan-dark;
$theme-site-navbar-primary-bg-color: #000;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 540px,
  hide-secondary: 0,
  small-logo: 0,
  small-text-primary: 0,
  small-text-secondary: 0
);

// Site Section Colors
$website-section-colors: (
  news:#8b572a,
  equipment: #bd3924,
  paving: #f08021,
  operations: #721612,
  people: #7c8b5b,
  recycling: #5b848b,
);

// Theme start!
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700|Roboto:300,400&display=swap");

$black:           #000 !default;
$body-color:      $tan-normal !default;
$block-spacer:    24px !default;

// Marko Web Settings
$marko-web-document-container-max-width: 1200px !default;
$marko-web-document-container-gutter: 12px !default;
$marko-web-page-padding: 0 !default;
$marko-web-page-wrapper-padding: $marko-web-document-container-gutter !default;
$marko-web-node-list-padding: 0 !default;
$marko-web-node-overlay-image-gradient: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, .71) 73%);

$marko-web-node-bg-color: $tan-lighter !default;

// Fonts (reset all to Roboto, including serif font)
$font-roboto: "Roboto", sans-serif !default;
$font-roboto-condensed: "Roboto Condensed", sans-serif !default;

$theme-font-family-sans-serif: $font-roboto !default;
$theme-font-family-serif: $font-roboto !default;
$theme-font-family-page-title: $font-roboto-condensed !default;

// General
$body-bg: $tan-light !default;
$breadcrumb-divider: "|" !default;
$font-weight-bold: 700 !default;
$grid-gutter-width: 24px !default;

// Settings
$enable-shadows: false !default;
$enable-rounded: false !default;

// Navbar
$theme-site-navbar-primary-font-family: $font-roboto-condensed !default;
$theme-site-navbar-primary-font-size: 17px !default;
$theme-site-navbar-primary-font-size-sm: 17px !default;
$theme-site-navbar-primary-line-height: 1.6 !default;
$theme-site-navbar-primary-line-height-sm: 1.6 !default;

$theme-site-navbar-primary-link-hover-decoration: none !default;
$theme-site-navbar-primary-link-active-decoration: none !default;

$theme-site-navbar-secondary-font-size: 14px !default;
$theme-site-navbar-secondary-font-size-sm: 14px !default;
$theme-site-navbar-secondary-line-height: 1.6 !default;
$theme-site-navbar-secondary-line-height-sm: 1.6 !default;
$theme-site-navbar-secondary-padding-y: 5px !default;

$theme-site-navbar-secondary-link-hover-decoration: none !default;
$theme-site-navbar-secondary-link-active-decoration: none !default;

// General Heading Defaults
$theme-heading-font-family: $font-roboto-condensed !default;
$theme-heading-font-weight: $font-weight-bold !default;

$theme-heading-large-font-size:       22px !default;
$theme-heading-large-font-size-sm:    22px !default;
$theme-heading-large-line-height:     1.3 !default;
$theme-heading-large-line-height-sm:  1.3 !default;

$theme-heading-h4-font-size:          20px !default;
$theme-heading-h4-font-size-sm:       20px !default;
$theme-heading-h4-line-height:        1.3 !default;
$theme-heading-h4-line-height-sm:     1.3 !default;

$theme-heading-h5-font-size:          18px !default;
$theme-heading-h5-font-size-sm:       18px !default;
$theme-heading-h5-line-height:        1.3 !default;
$theme-heading-h5-line-height-sm:     1.3 !default;

$theme-heading-h6-font-size:          16px !default;
$theme-heading-h6-font-size-sm:       16px !default;
$theme-heading-h6-line-height:        1.3 !default;
$theme-heading-h6-line-height-sm:     1.3 !default;

// Content Headings
$theme-content-heading-large-margin-bottom:     1rem !default;
$theme-content-heading-large-margin-bottom-sm:  1rem !default;

$theme-content-heading-h4-margin-bottom:        1rem !default;
$theme-content-heading-h4-margin-bottom-sm:     1rem !default;

$theme-content-heading-h5-margin-bottom:        1rem !default;
$theme-content-heading-h5-margin-bottom-sm:     1rem !default;

$theme-content-heading-h6-margin-bottom:        1rem !default;
$theme-content-heading-h6-margin-bottom-sm:     1rem !default;

// Content Paragraphs
$theme-content-paragraph-margin-bottom: 1.25rem !default;
$theme-content-paragraph-margin-bottom-sm: 1.25rem !default;


// Page Wrapper
$theme-page-title-font-weight: $font-weight-bold !default;
$theme-page-title-color: $tan-light !default;
$theme-page-title-font-size: 40px !default;
$theme-page-title-font-size-sm: 24px !default;
$theme-page-title-line-height: 1.2 !default;
$theme-page-title-line-height-sm: 1.2 !default;

$theme-page-deck-color: $tan-secondary !default;
$theme-page-deck-font-size: 18px !default;
$theme-page-deck-font-size-sm: 18px !default;
$theme-page-deck-line-height: 1.4 !default;
$theme-page-deck-line-height-sm: 1.4 !default;

$marko-web-page-image-margin: 1.25rem !default;

// Media Caption/Credit
$theme-media-footer-padding-y: 12px !default;
$theme-media-footer-padding-x: 12px !default;
$theme-media-footer-line-height: 1.5 !default;

$theme-media-caption-color: $tan-dark !default;
$theme-media-caption-font-size: 13px !default;
$theme-media-credit-color: $tan-dark !default;
$theme-media-credit-font-size: 13px !default;

// Breadcrumbs
$theme-breadcrumbs-font-size: 14px !default;
$theme-breadcrumbs-font-weight: $font-weight-bold !default;

// Content Published Date
$theme-content-published-date-font-size: 14px !default;
$theme-content-published-date-line-height: 1.2 !default;

// Content Attribution
$theme-content-attribution-font-size: 14px !default;
$theme-content-attribution-prefix-spacer-content: none !default;
$theme-content-attribution-prefix-font-weight: 400 !default;
$theme-content-attribution-line-height: 1.2 !default;

// Content Body
$theme-page-body-color: $tan-dark !default;
$theme-page-body-font-size-sm: 16px !default;
$theme-page-body-font-size: 16px !default;
$theme-page-body-font-weight: 400 !default;
$theme-page-body-line-height-sm: 1.8 !default;
$theme-page-body-line-height: 1.8 !default;

// Content Page Dates
$theme-content-published-date-color: $tan-light;

// Card / Node List Header
$theme-card-background-color: $tan-lighter !default;

$theme-card-header-text-transform: none !default;
$theme-card-header-color: $black !default;
$theme-card-header-font-size: 24px !default;
$theme-card-header-font-weight: $font-weight-bold !default;
$theme-card-header-letter-spacing: normal !default;
$theme-card-header-background-color: transparent !default;
$theme-card-header-border: none !default;

// Item / Node
$theme-item-title-font-family: $font-roboto-condensed !default;
$theme-item-title-font-size: 18px !default;
$theme-item-title-font-size-sm: 18px !default;
$theme-item-title-font-weight: $font-weight-bold !default;
$theme-item-title-line-height: 1.4 !default;
$theme-item-title-line-height-sm: 1.4 !default;
$theme-item-title-link-hover-decoration: none !default;

$theme-item-title-large-font-size: 54px;
$theme-item-title-large-font-size-sm: 28px;
$theme-item-title-large-line-height: 1.15 !default;
$theme-item-title-large-line-height-sm: 1.15 !default;

$theme-item-description-font-size: 16px !default;
$theme-item-description-font-size-sm: 16px !default;
$theme-item-description-font-weight: 300 !default;
$theme-item-description-line-height: 1.75 !default;
$theme-item-description-line-height-sm: 1.75 !default;
$theme-item-description-max-lines: 3 !default;

$theme-item-header-font-size: 12px !default;

$theme-item-footer-color: $tan-dark !default;
$theme-item-footer-font-size: 12px !default;

@import "../../node_modules/@base-cms/marko-web-theme-default/scss/theme";
// @todo this should be remove once contact us is in core
@import "../../node_modules/@ac-business-media/package-common/scss/contact-us-form";

body {
  -webkit-font-smoothing: antialiased;
}

.site-navbar {
  $self: &;

  &--primary,
  &--secondary {
    #{ $self } {
      &__link {
        font-weight: 700;
        letter-spacing: .2px;
      }
    }
  }

  &--primary {
    @each $section, $color in $website-section-colors {
      #{ $self } {
        &__link--active[href*="#{$section}"] {
          color: $color;
        }
      }
    }
  }
}

.content-header {
  &__left {
    padding-right: 0;
  }

  &__title-wrapper {
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: $tan-dark;

    @each $section, $color in $website-section-colors {
      &--#{$section} {
        background-color: $color;
      }
    }
  }

  &__right {
    padding-left: 0;
  }

  &__media-wrapper {
    width: 100%;
    height: 100%;
    background-color: $tan-secondary;
  }

  &__website-section-name {
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: map-get($spacers, block);
    font-family: $font-roboto-condensed;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid $tan-light;

    a {
      color: $tan-light;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.page-wrapper {
  padding: 0;
  background-color: $tan-lighter;

  &__section {
    padding: $marko-web-page-wrapper-padding;
    margin-bottom: $grid-gutter-width;

    &--no-padding {
      padding: 0;
    }

    &--content-page {
      max-width: 884px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-right: auto;
      margin-left: auto;
    }

    &--no-bottom-spacer {
      margin-bottom: 0;
    }

    &--no-bottom-padding {
      padding-bottom: 0;
    }

    &--card-deck {
      padding-bottom: 0;
    }
  }
}

.page-dates {
  display: flex;
}

.page-attribution {
  display: flex;

  &__content-authors {
    &::before {
      content: "By";
    }
  }
  a {
    color: $body-color;
  }

  div:last-child {
    margin-bottom: 0;
  }

  &:empty {
    display: none;
  }
}

.page-attribution-wrapper {
  display: flex;
}

.page-dates + .page-attribution {
  padding-left: .5rem;
  margin-left: .5rem;
  border-left: 1px solid #000;
}

.page-image {
  $self: &;

  &__image-caption,
  &__image-credit {
    text-align: right;
  }

  &__image-credit {
    &::before {
      margin-right: .25rem;
      content: "Photo Credit:";
    }
  }

  // @todo keep in skin
  > :last-child:not(#{ $self }__wrapper) {
    border-bottom: none;
  }
}

.page-contents {
  &__content-body {
    ul {
      padding-left: $grid-gutter-width;
    }
  }
}

.page-rail {
  > :first-child {
    margin-top: 0;
  }
}

.node {
  $self: &;

  &__title {
    &--small {
      font-size: 14px;
    }
  }

  &__footer {
    justify-content: flex-start;
  }

  &__footer-left:not(:empty) + &__footer-right {
    margin-left: .25rem;
  }


  &__body {
    &--overlay {
      color: $tan-light;
      a {
        color: $tan-light;
        &:hover {
          color: $tan-light;
        }
      }
    }
  }

  &--hero-card {
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      padding: 0;
    }

    #{ $self } {
      &__contents--body {
        max-width: 700px;
        padding-right: $block-spacer;
        padding-bottom: $block-spacer;
        padding-left: $block-spacer;
        @include media-breakpoint-down($theme-responsive-text-breakpoint) {
          padding-right: 0;
          padding-bottom: $block-spacer / 2;
          padding-left: 0;
          font-size: 16px;
        }
      }

      &__text--teaser {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;

        @include media-breakpoint-down($theme-responsive-text-breakpoint) {
          font-size: 16px;
        }
      }
    }
  }

  &--section-tag {
    #{ $self } {
      &__image-wrapper + #{ $self }__body {
        z-index: 1;
        margin-top: -12px;
      }

      &__header + #{ $self }__contents {
        margin-top: 8px;
      }

      &__header {
        width: 80%;
        padding-right: 8px;
        padding-left: 8px;
        font-family: $font-roboto-condensed;
        font-size: 16px;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        color: $tan-light;
        text-transform: uppercase;
        background-color: $tan-dark;

        // stylelint-disable selector-max-compound-selectors
        a {
          color: $tan-light;
          &:hover {
            color: $tan-light;
            text-decoration: none;
          }
        }
      }
    }
  }

  @each $section, $color in $website-section-colors {
    &--section-tag-#{$section} {
      #{ $self } {
        &__header {
          background-color: $color;
        }
      }
    }
  }
}

.load-more-trigger {
  margin-bottom: $block-spacer;
}

.node-list {
  $self: &;
  &__header {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    line-height: 1.3;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 4px;
      content: "";
      background: #000;
    }

    &--padding-y {
      padding-top: $block-spacer;
      padding-bottom: $block-spacer;
    }

    &--website-section-title {
      padding-top: $block-spacer / 2;
      font-family: $font-roboto-condensed;
      font-size: 26px;
      font-weight: $font-weight-bold;
      line-height: 1.3;
    }

    @each $section, $color in $website-section-colors {
      &--#{$section} {
        &::before {
          background: $color;
        }
      }
    }
  }

  &--padding-large {
    #{ $self } {
      &__node {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  &--infinite-scroll {
    #{ $self } {
      &__node:first-child {
        @include marko-web-node-list-border(border-top);
      }
    }
  }

  &--flush-y {
    #{ $self } {
      &__header:first-child {
        padding-top: $block-spacer;
      }

      &__node:first-child {
        @include media-breakpoint-down(md) {
          padding-top: $block-spacer;
          @include marko-web-node-list-border(border-top);
        }
      }
    }
  }
}

.magazine-publication-card-block {
  &__header,
  &__body {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}
