import { getAsObject } from '@base-cms/object-path';

$ const content = getAsObject(input, 'content');

<div class="inquiry-form">
  <div class="inquiry-form-header">Request More Information</div>
  <div class="inquiry-form-body">
    <p>Fill out the form below to request more information about <marko-web-content-name tag=null obj=content />.</p>
    <hr>
    <marko-web-browser-component name="InquiryForm" props={ contentId: content.id, content: content }/>
  </div>
</div>
