import { getAsArray } from "@base-cms/object-path";

$ const nodes = getAsArray(input, "nodes");

<marko-web-node-list
  inner-justified=false
  flush-x=true
  flush-y=true
  modifiers=["padding-large"]
>
  <@nodes nodes=nodes>
    <@slot|{ node }|>
      <website-market-outlook-node node=node />
    </@slot>
  </@nodes>
</marko-web-node-list>
