$primary: #86bc3a;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: #212121;
$theme-site-navbar-primary-bg-color: #000;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 765px,
  hide-secondary: 612px,
  small-logo: 375px,
  small-text-primary: 0,
  small-text-secondary: 0
);

// Site Section Colors
$website-section-colors: ();

@import "../../node_modules/@ac-business-media/refresh-theme/scss/theme";

.site-navbar {
  $self: &;

  &--primary {
    #{ $self } {
      &__link--active {
        color: $primary;
      }
    }
  }
}
