import { getAsObject } from "@base-cms/object-path";

$ const query = getAsObject(input, "query");
$ const page = getAsObject(input, "page");

<marko-web-load-more
  append-to=".infinite-scroll-target"
  expand=500
  component-name="latest-content-list-flow"
  component-input={ withHeader: false, modifiers: ["infinite-scroll"] }
  fragment-name="content-list"
  max-pages=input.maxPages
  query-name=query.name
  query-params=query.params
  page-input=page
/>
