$primary: #e7212d;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: #222;
$theme-site-navbar-primary-bg-color: #222;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 900px,
  hide-secondary: 906px,
  small-logo: 970px,
  small-text-primary: 1005px,
  small-text-secondary: 1062px
);

// Theme start!
@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,700&display=swap");

// Marko Web Settings
$marko-web-document-container-max-width: 1048px !default;
$marko-web-document-container-gutter: 10px !default;
$marko-web-page-padding: 0 !default;
$marko-web-page-wrapper-padding: $marko-web-document-container-gutter !default;

// Fonts (reset all to Arimo, including serif font)
$theme-font-family-sans-serif: "Arimo", sans-serif !default;
$theme-font-family-serif: "Arimo", sans-serif !default;
$theme-font-family-page-title: $theme-font-family-sans-serif !default;

// General
$body-bg: #fff !default;
$breadcrumb-divider: ">" !default;
$font-weight-bold: 700 !default;
$grid-gutter-width: 20px !default;

// Settings
$enable-shadows: false !default;
$enable-rounded: false !default;

// General Heading Defaults
$theme-heading-font-weight: 700 !default;

// Page Wrapper
$theme-page-title-font-weight: 700 !default;
$theme-page-title-font-size: 24px !default;
$theme-page-title-font-size-sm: 20px !default;
$theme-page-title-line-height: 1.2 !default;
$theme-page-title-line-height-sm: 1.2 !default;

$theme-page-deck-color: #000 !default;
$theme-page-deck-font-size: 18px !default;
$theme-page-deck-font-size-sm: 16px !default;
$theme-page-deck-line-height: 1.5 !default;
$theme-page-deck-line-height-sm: 1.5 !default;

@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-theme-default/scss/theme";
// @todo this should be remove once contact us is in core
@import "../../node_modules/@ac-business-media/package-common/scss/contact-us-form";
@import "../../node_modules/@ac-business-media/package-common/scss/directory";
@import "../../node_modules/@ac-business-media/package-inquiry/scss/index";

body {
  -webkit-font-smoothing: antialiased;
}
