$primary: #e7212d;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: #212121;
$theme-site-navbar-primary-bg-color: #000;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 854px,
  hide-secondary: 950px,
  small-logo: 0,
  small-text-primary: 0,
  small-text-secondary: 0
);

// Theme start!
@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,700&display=swap");

$black:           #000 !default;
$body-color:      $black !default;

// Marko Web Settings
$marko-web-document-container-max-width: 1048px !default;
$marko-web-document-container-gutter: 10px !default;
$marko-web-page-padding: 0 !default;
$marko-web-page-wrapper-padding: $marko-web-document-container-gutter !default;

// Fonts (reset all to Arimo, including serif font)
$theme-font-family-sans-serif: "Arimo", sans-serif !default;
$theme-font-family-serif: "Arimo", sans-serif !default;
$theme-font-family-page-title: $theme-font-family-sans-serif !default;

// General
$body-bg: #fff !default;
$breadcrumb-divider: "|" !default;
$font-weight-bold: 700 !default;
$grid-gutter-width: 20px !default;

// Settings
$enable-shadows: false !default;
$enable-rounded: false !default;

// Navbar
$theme-site-navbar-primary-font-size: 15px !default;
$theme-site-navbar-primary-font-size-sm: 15px !default;
$theme-site-navbar-primary-line-height: 1.6 !default;
$theme-site-navbar-primary-line-height-sm: 1.6 !default;

$theme-site-navbar-primary-link-hover-decoration: none !default;
$theme-site-navbar-primary-link-active-decoration: none !default;

$theme-site-navbar-secondary-font-size: 13px !default;
$theme-site-navbar-secondary-font-size-sm: 13px !default;
$theme-site-navbar-secondary-line-height: 1.6 !default;
$theme-site-navbar-secondary-line-height-sm: 1.6 !default;
$theme-site-navbar-secondary-padding-y: 5px !default;

$theme-site-navbar-secondary-link-hover-decoration: none !default;
$theme-site-navbar-secondary-link-active-decoration: none !default;

// General Heading Defaults
$theme-heading-font-weight: $font-weight-bold !default;

// Page Wrapper
$theme-page-title-font-weight: $font-weight-bold !default;
$theme-page-title-font-size: 24px !default;
$theme-page-title-font-size-sm: 24px !default;
$theme-page-title-line-height: 1.2 !default;
$theme-page-title-line-height-sm: 1.2 !default;

$theme-page-deck-color: #000 !default;
$theme-page-deck-font-size: 18px !default;
$theme-page-deck-font-size-sm: 18px !default;
$theme-page-deck-line-height: 1.5 !default;
$theme-page-deck-line-height-sm: 1.5 !default;

// Breadcrumbs
$theme-breadcrumbs-font-size: 14px !default;
$theme-breadcrumbs-font-weight: $font-weight-bold !default;

// Content Published Date
$theme-content-published-date-font-size: 14px !default;
$theme-content-published-date-line-height: 1.2 !default;

// Content Attribution
$theme-content-attribution-font-size: 14px !default;
$theme-content-attribution-prefix-spacer-content: none !default;
$theme-content-attribution-prefix-font-weight: 400 !default;
$theme-content-attribution-line-height: 1.2 !default;


@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-theme-default/scss/theme";
// @todo this should be remove once contact us is in core
@import "../../node_modules/@ac-business-media/package-common/scss/contact-us-form";
@import "../../node_modules/@ac-business-media/package-common/scss/directory";
@import "../../node_modules/@ac-business-media/package-inquiry/scss/index";

.ad-container {
  margin-top: $theme-ad-margin;
}

.site-navbar {
  $self: &;
  &__items {
    text-transform: none;
  }

  &--primary,
  &--secondary {
    #{ $self } {
      &__link {
        &--active {
          font-weight: 700;
        }
      }
    }
  }
}

.page-wrapper {
  &__deck,
  &__title {
    $max: 920px;
    // ensure readable line length is not too long.
    padding-right: ($marko-web-document-container-max-width - ($marko-web-document-container-gutter * 2) - ($marko-web-page-wrapper-padding * 2)) - $max;
    @media (max-width: 920px) {
      padding-right: 0;
    }
  }

  &__section {
    padding-bottom: $grid-gutter-width;
    margin-bottom: $grid-gutter-width + 5px;
    border-bottom: 2px solid #ebebeb;
  }
}

.page-dates {
  display: flex;
}

.page-attribution {
  display: flex;

  &__content-authors {
    &::before {
      content: "By";
    }
  }
  a {
    color: $body-color;
  }

  div:last-child {
    margin-bottom: 0;
  }
}

.page-attribution-wrapper {
  display: flex;
}

.page-dates + .page-attribution {
  padding-left: .5rem;
  margin-left: .5rem;
  border-left: 1px solid #000;
}
